@forward '@/shared/styles/fonts.scss';
@forward '@/shared/styles/reset.scss';

html {
    font-family: Inter, sans-serif;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}
